<app-header [container]="'login_container'" [isAdmin]="true" [title]="'Admin'"></app-header>
<div class="login_container">
  <h2 class="login_title">Área Administrativa</h2>
  <div class="login_card">
    <h3 class="login_title">Login</h3>

    <form class="form_card" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="login_input_container">
        <label>
          <p class="label_title">Usuário</p>
          <input
            class="input_area"
            type="text"
            formControlName="usuario"
            placeholder="Digite seu usuário"
          />
        </label>

        <label>
          <p class="label_title">Senha</p>
          <input
            class="input_area"
            type="text"
            formControlName="senha"
            placeholder="Digite sua senha"
          />
        </label>

        <app-button
          [isDisabled]="isLoading()"
          [class]="btnClass.ESCURO_P"
          [message]="'Entrar'"
        ></app-button>
      </div>
    </form>
  </div>
</div>

<app-pop-up></app-pop-up>