.header_container {
  height: 60px;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.header_name {
  font-size: 20px;
  border: none;
  background: transparent;
  color: var(--white);
  font-weight: 700;
  padding: 0;
  cursor: pointer;
}

