button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

:host {
  width: 100%;
}

.claro_g {
  background-color: var(--btn-light);
  color: var(--text-dark);
  transition: 0.4s;
  font-size: 24px;
  font-weight: 500;
  padding: 32px;
  font-weight: 600;
}

.claro_g:hover {
  background-color: var(--btn-light-hover-darker);
  transition: 0.3s;
}

.escuro_g {
  background-color: var(--secondary-color-dark);
  color: var(--text-light);
  transition: 0.6s;
  font-size: 24px;
  font-weight: 500;
  padding: 32px;
  font-weight: 600;
}

.escuro_g:hover {
  background-color: var(--btn-dark-hover);
  transition: 0.3s;
}
