* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #155dfc;
  --primary-color-light: #eff6ff;
  --primary-color-dark: #1140a6;
  --secondary-color: #e5f0ff;
  --secondary-color-light: #f9fafb;
  --secondary-color-dark: #030213;

  --positive-feedback: #00a63e;
  --positive-feedback-light: #dbfce7;
  --positive-feedback-dark: #038432;
  --negative-feedback: #e98b9e;
  --negative-feedback-light: #ffe2e2;
  --negative-feedback-dark: #d4183d;

  --text-dark: #0a0a0a;
  --text-light: #faf9f6;

  --btn-light: #ffffff;
  --btn-light-hover-darker: #e4e4e4;
  --btn-dark-hover: #333;

  --primary-background: #e3effe;

  --inactive-option: #cbced4;
}

.login_container {
  padding: 0 440px;
}
